 *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
#carouselExampleIndicators{
  display: none;
}
@media (max-width:770){
  #carouselExampleIndicators{
    display: block;
  }
  #carouselExampleCaptions{
    display: none;
  }
}
nav{
      
      display: flex;
      height: 80px;
      width: 100%;
      background: #1b1b1b;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px 0 100px;
      flex-wrap: wrap;
      position: sticky;
      z-index: 2;
    }
    nav .logos{
      color: #fff;
      font-size: 35px;
      font-weight: 600;
    }
    nav ul{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    nav ul li{
      margin: 0 5px;
    }
    nav ul li a{
      color: #f2f2f2;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      padding: 8px 15px;
      border-radius: 5px;
      letter-spacing: 1px;
      transition: all 0.3s ease;
    }
    nav ul li a.activee,
    nav ul li a:hover{
      color: #111;
      background: #fff;
    }
    nav .menu-btnn i{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      display: none;
    }
    input[type="checkbox"]{
      display: none;
    }
    @media (max-width: 1000px){
      nav{
        padding: 0 40px 0 50px;z-index: 2223;
      }
    }
    @media (max-width: 920px) {
      nav .menu-btnn i{
        display: block;z-index: 2223;
      }
      #clickk:checked ~ .menu-btnn i:before{
        content: "\f00d";
      }
      nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
      }
      #clickk:checked ~ ul{
        left: 0;
      }
      nav ul li{
        width: 100%;
        margin: 40px 0;
      }
      nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      #clickk:checked ~ ul li a{
        margin-left: 0px;
      }
      nav ul li a.activee,
      nav ul li a:hover{
        background: none;
        color: cyan;
      }
    }











.headerr{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 60px;
      width: 85%;
      margin: auto;
      margin-top: 70px;
       
}

@media (max-width:1000px){
      .headerr{
     
            grid-template-columns: 1fr;
      }
}


.yan{
      display: flex;
}

 
@media (max-width:990px){
       
  .headerr{
         
        grid-gap: 30px;
  }
  
}
 
@media (max-width:777px){
       
      .headerr{
            grid-template-columns: 1fr;
            grid-gap: 30px;
      }
      
}
.yanf{
       display: grid;
       grid-template-columns: 1fr ;
        
       grid-gap: 20px;
       
       
}
.yanpost{
   display: flex;
    
}
.contentt{
  margin-left: 23px;
}
 






.section-1{
     
      width: 80%;
      margin: auto;
      margin-top: 110px;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(351px,1fr));
      gap: 16px;
}
.sec-cont img{
      margin-bottom: 20px;
}
.sec-cont p{
      margin-top: 10px;
      padding-right: 30px;
       
}
 

 
footer{
      margin-top: 50px;
      background-color: black;
      padding: 40px;
       
      color: white;
       
}
.footerr{
      width: 60%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
}
   


   
  